@media(max-width:1024px) {
    .container {
        max-width: 990px;
    }
}

@media(max-width:768px) {
    .container {
        max-width: 690px;
        scrollbar-width: none;
    }

    .table {
        overflow: scroll;
        scrollbar-width: none;
    }

    .toolbar {
        overflow: scroll;
        scrollbar-width: none;
    }

    td {
        white-space: nowrap;
    }

    .search-bar input {
        width: 10rem;
    }
    .feedback {
        width: 40%;
    }
    .del-modal h3{
        font-size: 16px;
    }
    .del-modal p{
        font-size: 10px;
    }
    .del-modal .buttons {
        margin-top: 15px;
    }
}

@media(max-width:576px) {
    .container {
        max-width: 400px;
        padding: 0;
    }

    tbody tr td:nth-child(3) {
        white-space: nowrap;
    }

    table {
        overflow: scroll;
        scrollbar-width: none;
    }

    .modal p {
        font-size: 12px;
    }

    .modal h2 {
        font-size: 20px;
    }

    .modal {
        width: 320px;
    }

    .toolbar {
        overflow: auto;
        scrollbar-width: none;
        gap: 10px;
        scrollbar-width: 0px;
    }

    .right-tools {
        width: 100%;
    }

    .table {
        overflow: auto;
        scrollbar-width: none;
    }

    .table .container {
        overflow: auto;
    }

    .heading p {
        white-space: nowrap;
    }

    td {
        white-space: nowrap;
    }

    .action-button {
        white-space: nowrap;
        padding: 8px 12px;
    }

    .calendar-button {
        padding: 10px 0px;
    }
    .feedback {
        width: 60%;
    }
    .del-modal {
        top: unset;
        left: unset;
        width: 100%;
        transform: translate(0%, 0%);
        bottom: 0;
        text-align: center;
    }
    .del-modal.show {
        transform: translate(0%, 0%);
    }
    .del-modal .buttons {
        flex-direction: column;
        gap: 10px;
    }
    .pro-bar {
        display: block;
        transition: .2s all ease-in-out;
    }
    .pro-bar:hover {
        background-color: wheat;
    }
}

@media (max-width:425px) {
    .container {
        max-width: 320px;
        padding: 0;
    }

    .dropdown-menu {
        width: 150px;
    }
    .feedback{
        font-size: 16px;
        width: 80%;
    }
}

@media(max-width:320px) {
    .container {
        max-width: 260px;
        padding: 0;
    }
}