@keyframes fadeOutRow {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}
@keyframes slideIn {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(-30px);
    }
}
@keyframes modalClose {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}
@keyframes modalClose {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}
@keyframes modalOpen {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
